.footer_hero {
  padding: 4rem 1rem;
  background-color: black;
  color: white;
  border-top-left-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.footer_cta {
  display: inline-block;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  margin: 4rem auto 1rem;
}

.footer_cta:hover,
.footer_cta:focus,
.footer_cta:active {
  transform: scale(1.1);
}

.footer_social_links {
  display: flex;
  column-gap: 3rem;
}

.footer_social_links svg {
  transform: scale(1.8);
}
