.logo {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.logo_container {
  position: relative;
}

.logo_img {
  position: absolute;
  top: -5px;
  right: -17px;
  height: 19px;
}
