.pictureSection {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 1rem;
  margin: 5rem 0;
}

@media (min-width: 768px) {
  .pictureSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
